<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workers Data</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <style>
        .container {
            padding: 20px;
        }

        .table {
            width: 100%;
        }

        .table th,
        .table td {
            padding: 8px;
            text-align: center;
        }

        .table th {
            background-color: #bdbaba52;
            color: #fff;
        }

        .table-striped tbody tr:nth-child(odd) {
            background-color: #fff;
        }

        .table-hover tbody tr:hover {
            background-color: #ecf0f1;
        }
    </style>
</head>

<body>
    <h3>Welcome {{emailId}}!</h3>
    <h1 style="text-align: center;">Workers Data</h1>
    <br />
    <div class="container">
        <table class="table table-hover table-striped table-sm table-bordered">
            <thead>
                <tr>
                    <th>Worker ID</th>
                    <th>Worker Name</th>
                    <th>Email ID</th>
                    <th>Phone Number</th>
                    <th>Pincode</th>
                    <th>Department</th>
                    <th>Experience (Years)</th>
                    <th colspan="2">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let worker of workers">
                    <td>{{ worker.workerId }}</td>
                    <td>{{ worker.workerName | uppercase }}</td>
                    <td>{{ worker.emailId }}</td>
                    <td>{{ worker.phoneNumber }}</td>
                    <td>{{ worker.pincode }}</td>
                    <td>{{ worker.department }}</td>
                    <td>{{ worker.doj | exp }}</td>
                    <td>
                        <button (click)="deleteWorker(worker)" class="glyphicon glyphicon-trash"></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>