/* Add the CSS code here */
body {
    background-color: #6e7171; /* Set background color for the entire web page */
    margin: 0; /* Reset margin to ensure full coverage */
    padding: 0; /* Reset padding */
}

.container {
    padding: 20px; /* Add some padding for spacing */
}

.table {
    /* No background color set for the table */
    width: 100%; /* Make table width 100% */
}

.table th,
.table td {
    padding: 8px; /* Add padding to table cells */
    text-align: center; /* Align text to center */
}

.table th {
    background-color: #6e7171; /* Light blue background color for table header */
    color: #fff; /* Text color for table header */
}

.table-striped tbody tr:nth-child(odd) {
    background-color: #fff; /* Alternate row background color */
}

.table-hover tbody tr:hover {
    background-color: #ecf0f1; /* Hover background color */
}