.navbar {
  height: 50px; /* Set your desired height */
}
.navbar img.w-8 {
  width: 40px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  margin-right: 10px; /* Add some margin to separate the image from text */
  border-radius: 50%; /* Optional: Apply a circular border-radius */
}

.navbar-brand,
.navbar-nav .nav-link {
  line-height: 50px;
  color: #000000;
/* Set the same line-height as the navbar height */
}

.navbar-brand{
  display: flex;
  align-items: center;
}

.navbar-space {
  margin-bottom: 20px; /* You can adjust the value as needed */
}

.navbar-select {
  display: flex;
  align-items: center;
}

select {
  font-size: 12px;
  height: 30px;
  width: 100px;
  background-color: #FF6961;
  margin: 0; /* Remove any default margin */
}

.navbar-nav.mx-auto {
  display: flex;
  align-items: center;
}

/* Optional: Adjust the button style */
button.mat-button {
  background-color: #ffffff; /* Set your preferred background color */
  color: #000000; /* Set your preferred text color */
  border: none;
  padding: 5px 10px; /* Adjust as needed */
}