<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <title>Forgot Password</title>
  <style>
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
      background-color: #6e6b6b;
    }

    form {
      background-color: #383636;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      text-align: center;
      margin-right: 20px;
    }

    .error-message {
      color: red;
      font-size: 12px;
      display: none;
    }

    .form-group {
      margin-bottom: 20px;
    }

    .form-control {
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
      box-sizing: border-box;
    }

    button {
      padding: 10px;
      background-color: #007bff;
      color: #fff;
      border: none;
      cursor: pointer;
      border-radius: 4px;
    }
  </style>
</head>

<body>

  <form #workerForm="ngForm" (ngSubmit)="getOtp()" novalidate>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Enter emailId" name="emailId" [(ngModel)]="formModel.emailId"
        required (input)="workerForm.controls['emailId'].setErrors(null)" />
      <div class="error-message" *ngIf="workerForm.controls['emailId'].invalid && workerForm.controls['emailId'].dirty">
        Please enter a valid email address</div>
    </div>
    <button type="submit" class="btn btn-primary">Get OTP</button>
  </form>

  <form #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm.value)" novalidate>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Enter otp" name="otp2" #otp2="ngModel" ngModel required
        (input)="loginForm.controls['otp2'].setErrors(null)" />
      <div class="error-message" *ngIf="loginForm.controls['otp2'].invalid && loginForm.controls['otp2'].dirty">Please
        enter a valid OTP</div>
    </div>
    <button type="submit" class="btn btn-primary">Verify OTP</button>
  </form>

</body>

</html>