<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workers Data</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <style>
        .container {
            padding: 20px;
        }

        .table {
            width: 100%;
        }

        .table th,
        .table td {
            padding: 8px;
            text-align: center;
        }

        .table th {
            background-color: #bdbaba52;
            color: #fff;
        }

        .table-striped tbody tr:nth-child(odd) {
            background-color: #fff;
        }

        .table-hover tbody tr:hover {
            background-color: #ecf0f1;
        }
    </style>
</head>

<body>
    <h3>Welcome {{emailId}}!</h3>
    <h1 style="text-align: center;">Customers Data</h1>
    <br />
    <div class="container">
        <table class="table table-hover table-striped table-sm table-bordered">
            <thead>
                <tr>
                    <th class="black-bold-text">Customer ID</th>
                    <th class="black-bold-text">Customer Name</th>
                    <th class="black-bold-text">Gender</th>
                    <th class="black-bold-text">Phone Number</th>
                    <th class="black-bold-text">Email ID</th>
                    <th colspan="2" class="black-bold-text">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let customer of customers">
                    <td>{{ customer.customerId }}</td>
                    <td>{{ customer.customerName | uppercase }}</td>
                    <td>{{ customer.gender }}</td>
                    <td>{{ customer.phoneNumber }}</td>
                    <td>{{ customer.emailId }}</td>

                    <td>
                        <button (click)="deleteCustomer(customer)" class="glyphicon glyphicon-trash"></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>