<div class="container d-flex align-items-center justify-content-center p-50">
  <div class="col-md-4">
    <form (submit)="submitForm()">
      <div class="form-group">
        <label for="emailId">EmailId:</label>
        <input type="text" class="form-control" id="emailId" name="emailId" [(ngModel)]="selectedEmailId" readonly>
      </div>
      <div class="form-group">
        <label for="Address">Address:</label>
        <input type="text" class="form-control" id="Address" name="Address" [(ngModel)]="selectedAddress">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>