<div class="container mt-5">
    <h2>Payment Gateway</h2>
    <div class="row mt-5">
        <div class="col-md-4">
            <input type="text" class="form-control" [(ngModel)]="amount" placeholder="Enter Amount" readonly><br/>
            <button (click)="pay()" class="btn btn-primary btn-block">Pay</button>
        </div>
    </div>
  </div>