<div class="container">
  <form #workerForm="ngForm" (ngSubmit)="getWorkers()">
    <div class="form-group row">
      <label for="pincode" class=" text-right">Enter Pincode:</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" id="pincode" name="pincode" [(ngModel)]="formModel.pincode" />
      </div>
    </div>
    <br />

    <div class="form-group row">
      <div class="col-sm-9 offset-sm-3">
        <button type="submit" class="btn btn-primary">Get Workers</button>
      </div>
    </div>
  </form>
</div>
<br />
<div *ngIf="workers && workers.length > 0; else notfound" align="center" class="container">
  <table class="table table-hover table-striped table-sm table-bordered">
    <thead>
      <tr align="center">
        <th class="bg-info text-white">Worker Id</th>
        <th class="bg-info text-white">Worker Name</th>
        <th class="bg-info text-white">Email Id</th>
        <th class="bg-info text-white">Phone Number</th>
        <th class="bg-info text-white">Pincode</th>
        <th class="bg-info text-white">Department</th>
        <th class="bg-info text-white">Experience (Years)</th>
        <th class="bg-info text-white">Book</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let worker of workers" align="center">
        <td>{{ worker.workerId }}</td>
        <td>{{ worker.workerName }}</td>
        <td>{{ worker.emailId }}</td>
        <td>{{ worker.phoneNumber }}</td>
        <td>{{ worker.pincode }}</td>
        <td>{{ worker.department }}</td>
        <td>{{ worker.doj | exp }}</td>
        <td>
          <button (click)="bookNow(worker.emailId)" class="btn btn-{{ buttonClicked ? 'success' : 'primary' }}">
            {{ buttonClicked ? 'Booked!' : 'Book Now' }}
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div>
  <ng-template #notfound>
    <h4 align="center">Workers record not found</h4>
  </ng-template>
</div>