body {
  background-color: lightblue;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  margin: 20px auto;
  max-width: 800px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.table {
  width: 100%;
}

.table th,
.table td {
  padding: 8px;
  text-align: center;
}

.table th {
  background-color: white;
  color: #fff;
}

.table-striped tbody tr:nth-child(odd) {
  background-color: #fff;
}

.table-hover tbody tr:hover {
  background-color: #ecf0f1;
}