html, body {
  height: 100vh;
  
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3cefcc; /* Set your desired background color */

  color: black; /* Default text color for the entire page */
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

form {
  background-color: #f8f9f6;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 500px;
  height: fit-content;
}




label {
  color: #333;
  margin-bottom: 5px;
  display: block;
}

input,
select,
button {
  width: 100%;
  padding: 5px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 16px;
}

button {
  background-color: #8caf4c;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.error-message {
  color: red;
  margin-top: -10px;
  margin-bottom: 10px;
  font-size: 14px;
}
