<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />

</head>

<body>
  <section class="container">
    <form #regForm="ngForm" (ngSubmit)="registerSubmit(regForm.value)" novalidate>
      <header>
        <h2>Create an Account(customer)</h2>
      </header>
      <div class="input-box">
        <label>Full Name:</label>
        <input type="text" name="customerName" ngModel required minlength="2" maxlength="30" />
        <div *ngIf="regForm.controls['customerName'].errors?.['required'] && regForm.controls['customerName'].touched"
          class="error-message">Please Enter Full Name</div>
        <div *ngIf="regForm.controls['customerName'].errors?.['minlength'] && regForm.controls['customerName'].touched"
          class="error-message">Full Name should be at least 2 characters</div>
      </div>

      <div class="input-box">
        <label>EmailId:</label>
        <input type="email" name="emailId" ngModel required />
        <div *ngIf="regForm.controls['emailId'].errors?.['required'] && regForm.controls['emailId'].touched"
          class="error-message">Please Enter Email-Id</div>
      </div>

      <div class="input-box">
        <label>Password:</label>
        <input type="password" name="password" #password="ngModel" ngModel required minlength="8" maxlength="15"
          pattern="^(?=.\d)(?=.[a-z])(?=.[A-Z])(?=.[!@#$%^&()_+])[0-9a-zA-Z!@#$%^&()_+]{8,15}$" />
        <div *ngIf="password.errors?.['required'] && password.touched" class="error-message">Please Enter
          Password</div>
        <div *ngIf="password.errors?.['minlength'] && password.touched" class="error-message">Please Enter At
          least 8 Characters for Password</div>
        <div *ngIf="password.errors?.['pattern'] && password.touched" class="error-message">Password must
          contain at least one uppercase letter, one lowercase letter, one digit, and one special symbol</div>
      </div>

      <div class="input-box">
        <label>Confirm Password:</label>
        <input type="password" name="confirmPassword" ngModel required minlength="8" maxlength="15" />
        <div
          *ngIf="regForm.controls['confirmPassword'].errors?.['required'] && regForm.controls['confirmPassword'].touched"
          class="error-message">Please confirm your password.</div>
        <div
          *ngIf="regForm.controls['password'].value !== regForm.controls['confirmPassword'].value && regForm.controls['confirmPassword'].touched"
          class="error-message">Passwords do not match.</div>
      </div>

      <div class="input-box">
        <label>Phone Number:</label>
        <input type="tel" name="phoneNumber" ngModel required pattern="^[6-9]\d{9}$" minlength="10" maxlength="10" />
        <div *ngIf="regForm.controls['phoneNumber'].errors?.['required'] && regForm.controls['phoneNumber'].touched"
          class="error-message">Please Enter Phone Number</div>
        <div *ngIf="regForm.controls['phoneNumber'].errors?.['pattern'] && regForm.controls['phoneNumber'].touched"
          class="error-message">Please Enter a Valid Phone Number</div>
      </div>

      <div class="gender-box">
        <label>Gender:</label>
        <select name="gender" ngModel required>
          <option value="" disabled selected>Select Gender</option>
          <option value="Male">Male</option>
          <option value="Female">Female</option>
          <option value="Others">Others</option>
        </select>
        <div *ngIf="regForm.controls['gender'].errors?.['required'] && regForm.controls['gender'].touched"
          class="error-message">Please select a gender</div>
      </div>
      <button type="submit" [disabled]="!regForm.valid">Submit</button>
    </form>
  </section>

</body>

</html>