/* Center the form */
form {
  width: 300px;
  margin: 0 auto;
}

/* Style form elements */
div {
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

body {
  background-color: aqua;
}

button:hover {
  background-color: #0056b3;
}

/* Error message style */
.ng-invalid {
  border: 1px solid red;
}